<main>
  <div style="padding: 35px;" align="center" class="card">
    <h4>Account name</h4>
    <h5>Amount: 1000$</h5>
    <div class="members">
        <h6>Member</h6>
        <h6>Member </h6>
        <h6>Adasdada</h6>
      </div>
    <button mat-raised-button color="primary" [routerLink]="['add-money']">Add money</button>
    <button mat-raised-button color="primary" [routerLink]="['invite']">Invite people</button>
    <button mat-raised-button color="primary" [routerLink]="['payment']">Payment Request</button>
  </div>
</main>
