<main>
  <div style="padding: 35px;" align="center" class="card">
    <div class="form-group">
      <input placeholder="Amount" type="number" [(ngModel)]="sum"/>

      <input placeholder="Receiver"
             (keydown)="doSearch($event.target.value)" [(ngModel)]="name">

      <ul *ngIf="results">
        <li (click)="setReceiver(result.id, result.name)" *ngFor="let result of results">
          {{ result.name }}
        </li>
      </ul>

      <button mat-button color="primary" (click)="pay()">Initiate payment</button>
    </div>
  </div>
</main>
